{% extends "programmes/header.html" %}

{% block content %}

<div id="Title">
	<h2 align="center">Programmes Available</h2>
</div>
<div id="SA-based aligners">
		<h3>Suffix array-based aligners</h3>
		<ul>
			<li><strong>Bowtie2</strong></li>
			<a href="http://bowtie-bio.sourceforge.net/bowtie2/index.shtml"><li>Click here for source</li></a><br/>
			<li><strong>BWA</strong></li>
			<a href="http://bio-bwa.sourceforge.net/"><li>Click here for source</li></a><br/>
			<li><strong>SOAP3-dp</strong></li>
			<a href= "https://github.com/aquaskyline/SOAP3-dp"><li>Click here for source</li></a><br/>
		</ul>
		</div>
		<div id="Hash table-based aligners">
		<h3>Hash table-based aligners</h3>
		<ul>
			<li><strong>Novoalign</strong></li>
			<a href="http://www.novocraft.com/products/novoalign"><li>Click here for source</li></a><br/>
			<li><strong>NextGenMap</strong></li>
			<a href= "http://cibiv.github.io/NextGenMap/" ><li>Click here for source</li></a><br/>
			<li><strong>SMALT</strong></li>
			<a href="http://www.sanger.ac.uk/science/tools/smalt-0"><li>Click here for source</li></a><br/>
		</ul>
		</div>
		<div id="SNV callers">
		<h3>SNV callers</h3>
		<ul>
			<li><strong>Samtools</strong></li>
			<a href="https://sourceforge.net/projects/samtools/"><li> Click here for source</li></a>
		</ul>
		</div>
		</div>


{% endblock %}